<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.quiz.membership.dao.IMemberDAO">


	
	<insert id="insertLogin" parameterType="com.care.quiz.membership.dto.LoginDTO">
		INSERT INTO login VALUES(#{id},#{pw})
	</insert>
	<insert id="insertMember" parameterType="com.care.quiz.membership.dto.MemberDTO">
		INSERT INTO member VALUES(#{id},#{gender},#{email})
	</insert>
	<insert id="insertPost" parameterType="com.care.quiz.membership.dto.PostDTO">
		INSERT INTO post VALUES(#{id},#{postcode},#{addr1},#{addr2})
	</insert>
	
	
	<select id="IsExistId" resultType="String" parameterType="String" >
		SELECT id FROM login WHERE id = #{id}
	</select>





</mapper>